@use "_colors.scss" as colors;

body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.02em;
    font-size: 14px;
    color: colors.$color-black-bluish;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

.gap {
    height: 32px;
}

.gap-sm {
    height: 12px;
}